<body>
<div class="bg_img" style="margin: auto; width: 20%;">
  <fieldset style="margin: auto; width: 20%; padding: 20%">
  <h1>Signup</h1>

<%= render 'form', signup: @signup %>

<%= link_to 'Back', signups_path %>
</fieldset>
</div>
</body>
